.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: #fff;
    text-align: center;
    font-size: 60px;
}

img {
    width: 60px;
    position: absolute;
}